.navbar {
  width: 100%;
  background-color: var(--navbar-background);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-item {
  margin: 0 15px;
}

.navbar-link, button {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 14px 20px;
}

.navbar-link:hover {
  background-color: var(--navbar-item-hover);
  color: var(--black);
}