.post-list {
  margin-top: 20px;
}

.post-item {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--post-list-background);
}

.post-item h2 {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-item p {
  color: var(--white);
  font-size: 0.9rem;
}

.post-item button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: var(--white);
  background-color: var(--button-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.post-item button:hover {
  background-color: var(--button-primary-hover);
}

.comments-section {
  margin-top: 20px;
}

.comments-section p {
  color: var(--white);
  font-size: 0.9rem;
  margin: 5px 0;
}

.comments-section form {
  display: flex;
  flex-direction: column;
}

.comments-section input {
  margin: 20px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--grey);
  border-radius: 4px;
}

.comments-section button {
  padding: 10px;
  font-size: 16px;
  color: var(--white);
  background-color: var(--button-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comments-section button:hover {
  background-color: var(--button-primary);
  opacity: 0.7;
}

.message-to-register {
  background-color: var(--yellow);
  opacity: 0.8;
  border-radius: 10px;
  margin-bottom: 10px;
}

.message-to-register p{
  padding: 10px;
  font-weight: bold;
}